
slides > slide {
  background-color: ##D3D3D3;
}

.title-slide hgroup h1 {
  color: #061D95;             
  font-weight: 700;
}

.title-slide hgroup h2 {
  color: #3f587f;           
}
slides > slide h2 {
  color: #061D95;
  border-bottom: 2px solid #d2d7eb;
  padding-bottom: 4px;
}
slides > slide {
  color: #222222;
  font-size: 20px;
}

slides > slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
